<div class="container-fluid pull-left" ng-controller="lobbyController">
    <div class="row-fluid col-sm-10">
        <div class="col-sm-2">Name</div>
        <div class="col-sm-2">Size</div>
        <div class="col-sm-2">Time</div>
        <div class="col-sm-2">Players Ready</div>
        <div class="col-sm-2"></div>
    </div>
        <div ng-repeat="lobby in lobbys">
            <div class="row-fluid col-sm-10">
                <div class="col-sm-2">Joe</div>
                <div class="col-sm-2">10</div>
                <div class="col-sm-2">10</div>
                <div class="col-sm-2">10</div>
                <div class="col-sm-2">10</div>
            </div>
        </div>
</div>